*{
    padding: 0;
    margin: 0;
 
}
body{
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    min-height: 100vh;
    
}

/*nav start*/

nav{
   
    background-color: white;
    border-bottom:#ddd 1px solid;
    box-shadow:  0 0 1px .06rem #dcdcdc,
    0 0 1px .06rem #ddd;
    
  
}
.header{
    padding-top: 20px;    
    margin-bottom: 30px;
  
}
.header .log-links{   
    padding: 15px 0;
}
.header .log a span{
    color:#071e33;
}
.header .log a{
    color: #02b3e0;
}
.header .logo{
    display: inline-block;
    margin-right: 17rem;
    
}

.header .links{
    display: inline-block;
    
}

.header .links li{
    display: inline;
  
    
}
.header a{
    color:#071e33;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 15px; 
    
    cursor: pointer;
}



 .header .nav-link:not(.not):hover::after{
    width: 100%;
 }
 .header .nav-link:not(.not)::after{
    content: "";
    width: 0;   
    height: 2px;
    display: block;
    background-color:#415f75;
    margin-top: 2px;
    transition: .5s;
 }

 .dropdown-item:active{
    background-color:#b3cbd7;
 }
 
 
 
 .cart-icon{
    position: relative;
    font-size: 24px;
    font-weight: bold;
    color:#415f75;
    cursor: pointer;
    
}
.total{
    color:black;
    width: 22px;
    text-align: center;
    height: 22px;
    margin-left:-8px;
    padding: 1px 2px;
    font-size: 16px;
    border-radius: 50%;
    background-color:#02b3e0;    
    display: inline-block;
    position: absolute;
    bottom: 38px;
 
}
.nav-last{
    margin-left: 13rem;
}

/*home*/


.home .text{
    display: inline-block;
    margin:13% 0;
} 
.home .text h2{
    font-weight: 700;
    color: #071e33;
    text-align: left;
    font-size: 63px;
}
.home .text p{
    font-size: 22px;
    color: #071e33;
}
.home .text button{
    background-color: #02b3e0;
    color: white;
    border: none;
    font-weight: 600;
    padding: 10px 26px;
}
.image-carousel{
    height: 380px;
}
.text-carousel .btn{
    font-size: 17px;
    font-weight: 600;
    background-color: #02b3e0 !important;
    border: none;
    

}
/*welcome start*/

.welcome h2{
 text-align: center;
 padding: 15px 0 2px 0;
}

.welcome p{   
    text-align: center;
    padding-top: 15px;
    padding-bottom: 8px;
    font-size: 17px;
}
.welcome .content .text{
    margin-top: 8px;
}

.welcome .content .text h4{
    font-size: 18px; 
    font-weight: 600;  
    line-height: 26px;
    padding:55px 0 33px 0;
}
.welcome p{
    text-align: center;
    padding-bottom: 20px;
   font-size: 18px;
 
}
.welcome .content .text ul {
    list-style-type: none;
    padding: 0;
}
.welcome .content .text h4{
    font-size: 20px;
}
.welcome .content .text ul li{
    padding-bottom: 10px;
    font-size: 19px;
 
}
.welcome .content .text ul li .icon{

    padding-right: 4px;
    color: #02b3e0;
}


.welcome .content .image img{
    padding-left: 50px;
    width: 90%;
    height: 90%;
    border-radius: 10px;

}
/*service start*/
.best{    
    margin: 45px 0;
    overflow:hidden;
}



.best .best-text h1{
    text-align: center;
    color: #071e33;
    font-size: 30px;
    text-transform: capitalize;
}
 .line{
    width: 8%;
    height: 2px;    
    background-color:#02b3e0;
    margin:10px auto 45px auto;
    transition: width .5s;
}
 .line:hover{
    width: 11%;
}
.best .bests-text{  
    display: flex; 
    justify-content: center;  
    margin-bottom: 30px;
    text-align: center;
}
.best .bests-text p{
    padding-left: 50px;
    cursor: pointer;
    font-size: 17px;
    color: #071e33;
    font-weight: 600;
}
.best .bests-text p:hover{
    color: #02b3e0;
}
.best .books{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
   

}
.best .books .book{
    margin-top: 45px;
    padding-bottom: 15px;

}
.best .books .book .content{
    margin-top: 15px;

    
}

.best .books .book .content p{
    margin: 10px 0;
    font-size: 18px;

 
}
.best .books .book .content h4{
   
    font-size: 20px;
}
.best .books .book .image{
    background-color: #b3cbd7;
    border-radius: 10px;
    height: 340px;
    width: 280px;
    position: relative; 
 
    

}
.best .books .book .image h4{
    position: absolute;
    width: 200%;
    color:#071e33;
    font-size: 18px;
    margin-left: 279px;
    margin-top: 115px;
    transform-origin: 0 0;
    transform: rotate(90deg);
}
.best .books .book .image img{
 height: 340px;
 width: 260px;
position: absolute;
 

}
 /*advertising*/
 .advertising{
 padding: 0;
  width: 100%;
 }
 .advertising img{
    margin: 0;
    width: 100%;
   }
/*authors start*/
.authors{
    margin-top: 20px;
    padding-bottom: 60px;
    font-family: Arial, Helvetica, sans-serif;
}
.authors h2{

    text-align: center;
    padding: 20px 0 8px 0;
}
.authors h5{
    padding-top: 10px;
}

.authors .content .image{
  
    padding:0 20px 20px 20px;
    text-align: center;
       
    
    
}
.authors .content .image img{
    width: 230px;
    height: 200px;   
    border-radius: 50%;
    box-shadow: 5px 10px 8px #ddd;

}

/*footer start*/
footer h5{
    color: #ddd;
}
footer{
    margin-top: 40px;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 3.9rem; 
}

/*about start*/
.about{
    overflow:hidden;
}
.about .content{
     
    margin: 25px 0 45px 0;
    padding: 30px 30px;
  

}
.about .content img{
    height: 500px;
    width: 40%;
    border-radius: 15px 50% 15px 50%;
    padding-right: 50px;
   
  
}
.about .content .text{
   
    padding-left: 50px;
}
.about .content .text h2{
    font-size: 38px;   
    color:#071e33;
    text-align: center;
    
}
.about .content .text p{
    text-align: center;

    font-weight: 600;
}
.about .content .text span{
    color: #02b3e0;
}
/*contact start*/
.contact{
   padding-top: 75px;
   background-color: #071e33;
   border-radius: 0 0 30% 30%;
   text-align: center;
  
}
.contact form{
    padding-top: 10px;
}
.contact a{
    font-size: 18px;
 
}
.p-contact{
    font-size: 18px;
    
}

.status{
    margin-top: 53px;
    padding-bottom: 45px;
    
} 
/*news start*/
.main-layout{
    margin-top: 80px;
    padding-bottom: 60px;
}
.p_news{
    font-size: 17px;
    font-weight: 600;
}
.mask{
    background-color: rgba(251, 251, 251, 0.15)
}
.image-news{
    height: 220px;
    width: 350px;
}
/*f_a_q start*/
.f_a_q{
    margin-top: 40px;
    padding-bottom: 70px;
}
.btn-hover{
    font-size: 17px;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
}
.btn-hover:active:hover{
    background-color:#02b3e0;
    color: white;
}
.btn-hover.collapsed:hover{
    background-color:#02b3e0;
    color: white;
} 
.accordion-body-p{
    font-size: 18px;
}

.btn-hover:not(:focus):hover{
    background-color:#02b3e0;
    color: white;
    
}


.btn-hover:active {  
        
    box-shadow:
    0 0 3px .2rem rgb(134, 134, 134),
    0 0 3px .2rem rgb(134, 134, 134);

  }



.h3-accordion{
    background-color: #071e33;
 
}
/*Api start*/
.card_style{
    width: 20rem;
    height: 26rem;
    border: none;
    text-align: center;
    margin-bottom: 8.5rem;
    
 }
 .card_style1{
    width: 16rem;
    height: 26rem;
    border: none;
    text-align: center;
    margin-bottom: 8.5rem;

 }
 .image-card1{
    height: 380px;
    width: 16rem;
}
.image-card{
    height: 380px;
    width: 20rem;
}


.cardtext-h5{
    font-weight: 700;
    color: #071e33;
    margin-top: 10px;
   
}
.cardtext-h4{
    color:#415f75;
    font-weight: 600;
    font-size: 18px;
    
}
 .feature-content{
    position: absolute;
    top:0;
    left:0;
    bottom: 0;
    right: 0;
    width:100%;
    height:380px;
    text-align: center;
    background-color:rgba(2, 179, 224, 0.7);
    opacity: 0;
    visibility: hidden;
    transition:1s;
 }
 .card_style:hover .feature-content{
    opacity:1;
    visibility: visible;
 }
 .card_style1:hover .feature-content{
    opacity:1;
    visibility: visible;
 }
 .feature-content .text{
    position: absolute;
    left:50%;
    top:50%;
    width: 80%;
    transform: translate(-50%,-50%);
    text-align: center;
 }


 .feature-content a{
    color:white;
    font-size: 22px;
    text-decoration: none;
    text-align: center;
    display: block;
    margin-bottom: 25px;
    cursor: pointer;
    opacity: 0;
    visibility: hidden;
    transition:.5s;
    transition-delay: .4s;
    background-color: #071e33a2;
    border-radius: 60px;
 
 }

 .card_style:hover .feature-content a{
    opacity: 1;
    visibility: visible;
 }
 .card_style1:hover .feature-content a{
    opacity: 1;
    visibility: visible;
 }

 /*car start*/
  .cart-style{
    
    margin-top: 80px;
    overflow: hidden;
    
  }
  .table-style td,th{
    font-size: 19px;
  }
  .h3-style{
    color:#071e33;
    font-weight: 500;
  }

  .cart-style h2 span{
    text-decoration: underline;
  }
  .btn-style{
    font-size: 16px;
    font-weight: 600;
  }
  .btn-margin{
    margin-bottom: 4.9rem;

  }
  /*Scroll start*/
  .scroll-style{
    background-color: #02b3e0!important;
  }
  /*mdia query*/
  @media screen and (max-width: 769px) {
    .about .content img{
        height: 500px;
        width: 80%;
        border-radius: 15px 50% 15px 50%;
        padding-right: 50px;
        margin: 0 auto;
       
      
    }
    .nav-last{
        margin-left: 0;
    }
    .header{
        text-align: center;
    }
    .header .logo{
        display: inline-block;
        margin-right: 0;
        
    }
    .image-carousel{
        width: 80%;
    }
  }
